<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bioscheduler</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "jquery-ui/css/jquery.dataTables.css" %}">
  <link rel="stylesheet" href="{% static "jquery-ui/jquery-ui.css" %}">
  <script type="text/javascript">
    var staticPath="{% static "" %}";
  </script>
  <script data-main="{% static "main" %}" src="{% static "require.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "contextMenu/jquery.contextMenu.css" %}"/>
<!--
  <script src="{% static "fluidsGridModule.js" %}"></script>
  <script src="{% static "numeric-1.2.6.js" %}"></script>
  <script src="{% static "contextMenu/jquery.ui.position.js" %}"></script>
  <script src="{% static "contextMenu/jquery.contextMenu.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "jsPlumb/css/demo.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "jsPlumb/css/jsplumb.css" %}"/>
  <script src="{% static "jsPlumb/package-demo.js" %}"></script>
  <script src="{% static "molarityCalculator.js" %}"></script>
-->
  <style>
  body {margin: 0px;}
  .ui-widget-content { width: 150px; height: 150px; position: absolute; }
  #container {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
  }
  .tab_container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .locations {
    position: absolute;
  }
  .contain_canvas {
      width: 95%;
      height: 95%;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
  }
  #outer
  {
    background-color: #FF0808;
  }
  #leftDiv
  {
    position: relative;
    float: left;
    width: 30vw;
    height: 90vh;
    background-color: #FFD8D8;
  }
  #rightDiv
  {
    position: relative;
    float: left;
    width: 70vw;
    height: 90vh;
    background-color: #D8D8FF;
    overflow: auto;
    overflow-x: hidden;
  }
  .alignmentSequence
  {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Courier New", Courier, monospace;
  }
  .alignment
  {
    float: left;
  }
  </style>
  <script id="mainscript" class="init">

/*
  var csrftoken;
  function savesequence(sequence,name){
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      url: 'savesequence',
      type: 'POST',
      datatype: 'json',
      data: {
        sequence: JSON.stringify(sequence),
        name: name,
        csrfmiddlewaretoken: '{{ csrf_token }}'},
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("X-CSRFToken", csrftoken);},
      success: function(seq) {alert('sequence saved');},
      error: function(XMLHttpRequest,textStatus,errorThrown) {
        alert("Status: " + textStatus); alert("Error: " + errorThrown);}});}

  function saveoligos(oligos, success) {
    var csrftoken = getCookie('csrftoken');
    $.ajax({
      url: 'augmentlist',
      type: 'POST',
      datatype: 'json',
      data: {
        oligos: JSON.stringify(oligos),
        csrfmiddlewaretoken: '{{ csrf_token }}'},
      beforeSend: function(xhr) {
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("X-CSRFToken", csrftoken);},
      success: success,
      error: function(XMLHttpRequest,textStatus,errorThrown) {
        alert("Status: " + textStatus); alert("Error: " + errorThrown);}});
  }

  function updatelocation(data,location){
    var itemPath=data[0];
    getItemAnd(itemPath, function(item) {
        item.location=location;
        $.ajax({
          url: 'saveitem',
          type: 'POST',
          datatype: 'json',
          data: {
            item: JSON.stringify(item),
            name: itemPath,
            csrfmiddlewaretoken: csrftoken},
          beforeSend: function(xhr) {
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);},
          error: function(XMLHttpRequest,textStatus,errorThrown) {
            alert("Status: " + textStatus); alert("Error: " + errorThrown);}});
      });}
*/
/*
  $(document).ready(function() {
    csrftoken = getCookie('csrftoken');



    $.contextMenu({
      selector: ".inventoryItem",
      items: {
        "delete": {name: "Delete", icon: "delete"}
      },
      callback: function(key,options) {
        var row=options.$trigger;
        var path=row.context.cells[0].textContent;
        console.log(options.$trigger.context.cells[0].textContent);
        $.ajax({
          url: 'deletesequence',
          type: 'POST',
          datatype: 'json',
          data: {
            path: path,
            csrfmiddlewaretoken: '{{ csrf_token }}'},
          beforeSend: function(xhr) {
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("X-CSRFToken", csrftoken);},
          success: function(seq) {
            $("#example").DataTable().row(row).remove().draw();
          },
          error: function(XMLHttpRequest,textStatus,errorThrown) {
            alert("Status: " + textStatus); alert("Error: " + errorThrown);}});
      }
    });

    $.contextMenu({
      selector: ".contain_canvas",
      build: function($trigger,e) {
        return {
          callback: function(key, options) {
            if (key=='map') {options.$trigger.trigger("mapoligos");}
            else if (key=='saveprimers') {options.$trigger.trigger("saveprimers");}
            else if (key=='createfeature') {options.$trigger.trigger("createfeature");}
            else if (key=='deletefeature') {options.$trigger.trigger("deletefeature",e);}
            else if (key=='save') {options.$trigger.trigger("save");}
          },
          items: {
            "map": {name: "Map Oligos", icon: "edit"},
            "saveprimers": {name: "Save Primers", icon: "edit2"},
            "createfeature": {name: "Create Feature", icon: "cut"},
            "deletefeature": {name: "Delete Feature", icon: "cut"},
            "save": {name: "Save", icon: "save"},
            "sep1": "---------",
            "quit": {name: "Quit", icon: "quit"}}}}});

  });
*/

function poll_state(job) {
  $.ajax({
    url: 'poll_state',
    type: 'POST',
    datatype: 'json',
    data: {
      job: job,
      csrfmiddlewaretoken: '{{ csrf_token }}'},
    beforeSend: function(xhr) {
      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');},
    success: function(status) {
      alert(status);
      if (status!="SUCCESS") {
        poll_state(job);
      }
    },
    error: function(XMLHttpRequest,textStatus,errorThrown) {
      alert("Status: " + textStatus); alert("Error: " + errorThrown);;
    }
  });
}


function init_work() {
  $.ajax({
    url: 'init_work',
    type: 'POST',
    datatype: 'json',
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}'},
    beforeSend: function(xhr) {
      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');},
    success: function(job) {
      alert(job);
      poll_state(job);
    },
    error: function(XMLHttpRequest,textStatus,errorThrown) {
      alert("Status: " + textStatus); alert("Error: " + errorThrown);
    }
  });
}


function alignment() {
  $.ajax({
    url: 'align',
    type: 'POST',
    datatype: 'json',
    data: {
      sequences: ['/AL080.gbk','AL080_His_TEV.gbk'],
      csrfmiddlewaretoken: '{{ csrf_token }}'},
    beforeSend: function(xhr) {
      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');},
    success: function(job) {
    },
    error: function(XMLHttpRequest,textStatus,errorThrown) {
      alert("Status: " + textStatus); alert("Error: " + errorThrown);
    }
  });
}
</script>
</head>
<body>
<div id="outer">
  <div id="bioscheduler_header" style="background-color:#FFA500;">
    <h1 style="margin-bottom:0;">
      Bioscheduler
      <img id="testMenu" src="{% static "icons/graph32.svg" %}" width="32" height="32" onclick="jsPlumbDemo();" />
      <img id="molarityCalculatorMenu" src="{% static "icons/education32.svg" %}" onclick="molarityCalculator();" />
      <img id="fluidsGridMenu" src="{% static "icons/waterup32.svg" %}" height="32" width="32" onclick="fluidsGridModule.fluidsGrid();" />
      <img id="locationsMenu" src="{% static "icons/waterup32.svg" %}" height="32" width="32" onclick="locationsModule.locations();" />
      <img id="locationsMenu" src="{% static "icons/waterup32.svg" %}" height="32" width="32" onclick="init_work();" />
      <img id="alignmentField" src="{% static "icons/waterup32.svg" %}" height="32" width="32" />
    </h1>
  </div>
  <!--  <div>Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->

  <div id="leftDiv">
    <div id="demo"></div>
  </div>

  <div id="rightDiv">
    <div id="accordion">
    </div>
  </div>
</div>
<div id="terminal"/>
</body>
</html>
